@import url(https://themes.googleusercontent.com/fonts/css?kit=RFda8w1V0eDZheqfcyQ4EGb3DKsRMD34dqg1gT8Z-p6isjtAVhoKeKPV_uAAgBOSk3k702ZOKiLJc3WVjuplzPesZW2xOQ-xsNqO47m55DA);

.serif-resume {
  background-color: #ffffff;
  max-width: 525.6pt;
  font-family: "Merriweather";
  font-size: 9pt;
  color: #666666;
  margin: 0;
}

.serif-table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

.serif-header-row {
  height: 80pt;
}

.serif-header-left {
  border: 0pt solid #ffffff;
  padding: 7.2pt;
  vertical-align: top;
  width: 358.5pt;
}

.serif-header-right {
  border: 0pt solid #ffffff;
  padding: 7.2pt;
  vertical-align: top;
  width: 165pt;
}

.serif-content-left {
  border: 0pt solid #ffffff;
  padding: 7.2pt;
  vertical-align: top;
  width: 358.5pt;
}

.serif-content-right {
  border: 0pt solid #ffffff;
  padding: 7.2pt;
  vertical-align: top;
  width: 165pt;
}

.serif-name {
  color: #000000;
  font-weight: 700;
  font-size: 36pt;
  font-family: "Merriweather";
  padding-top: 0pt;
  padding-bottom: 6pt;
  line-height: 1.0;
  margin: 0;
}

.serif-tagline {
  color: #000000;
  font-size: 9pt;
  font-family: "Open Sans";
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  margin: 0;
}

.serif-contact {
  color: #000000;
  font-size: 9pt;
  font-family: "Open Sans";
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  margin: 0;
  margin-right: 15pt;
}

.serif-phone,
.serif-email {
  font-weight: 700;
}

.serif-section-title {
  color: #2079c7;
  font-weight: 700;
  font-size: 9pt;
  font-family: "Open Sans";
  padding-top: 30pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  margin: 0;
  margin-right: 15pt;
}

.serif-experience,
.serif-education,
.serif-project {
  margin-bottom: 16pt;
}

.serif-company,
.serif-school,
.serif-project-name {
  color: #000000;
  font-weight: 700;
  font-size: 11pt;
  font-family: "Merriweather";
  padding-top: 16pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  margin: 0;
  margin-right: 15pt;
}

.serif-date {
  color: #666666;
  font-size: 8pt;
  font-family: "Open Sans";
  padding-top: 5pt;
  padding-bottom: 5pt;
  line-height: 1.0;
  margin: 0;
  margin-right: 15pt;
}

.serif-description {
  padding-top: 6pt;
  padding-bottom: 0pt;
  line-height: 1.3;
  margin: 0;
  margin-right: 15pt;
}

.serif-skills {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.serif-skills li {
  margin-left: 0pt;
  list-style-position: inside;
  text-indent: 45pt;
  padding-top: 16pt;
  padding-bottom: 0pt;
  line-height: 1.3;
  margin-right: 15pt;
}

.serif-awards {
  margin-right: 15pt;
}

.serif-award {
  padding-top: 16pt;
  padding-bottom: 0pt;
  line-height: 1.3;
  margin: 0;
  margin-right: 15pt;
}

.serif-award:first-child {
  padding-top: 16pt;
}

.serif-languages {
  padding-top: 16pt;
  padding-bottom: 0pt;
  line-height: 1.3;
  margin: 0;
  margin-right: 15pt;
}