* {
  box-sizing: border-box;
  --hover-colour: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1450px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
  height: 100%;
}

.form-container {
  flex: 0.5;
}

.template-container {
  flex: 0.5;
  border: 1px solid #ccc;
}

.template-container > * {
  padding: 2rem;
}

.template-container:hover {
  cursor: zoom-in;
}

.expanded-template {
  border: none;
  z-index: 1000;
  width: max-content;
  height: max-content;
  background: white;
  padding: 1rem;
  overflow-y: auto;
  margin: 0 auto;
  gap: 1rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 1s ease;
}

.preview-template {
  border: none;
  z-index: 1000;
  width: 50vw;
  height: 60vw;
  background: white;
  padding: 1rem;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preview-template img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.expanded-template::backdrop,
.preview-template::backdrop {
  background: rgba(174, 173, 173, 0.5);
}

.tab-nav {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.tab-btn {
  flex: 1;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  transition: font-size 0.3s, background-color 0.3s, color 0.3s;
}

.tab-btn.active {
  background-color: #cb1717;
  color: white;
  font-size: larger;
}

.resume-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* styles for the forms */
.form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-field > input {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 0.5px solid;
  font-size: medium;
  min-width: 12rem;
  field-sizing: content;
}

.form-label {
  font-weight: bold;
  margin-bottom: 1rem;
}

textarea {
  max-width: 100%;
  min-height: 3rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 0.5px solid;
  font-size: medium;
  field-sizing: content;
  line-height: 1.5;
}
/* styles for the experience form */
.no-value-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.no-value-text {
  text-align: center;
  margin-top: 1rem;
  padding: 0 1rem;
}

/* Template Selection*/
.template-selection-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.template-selection {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.template-image-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.template-image {
  width: 100%;
  max-width: 250px;
  min-width: 100px;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.template-image:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.template-image:hover {
  cursor: pointer;
}

.template-image-details {
  display: flex;
  justify-content: space-between;
  padding: 0 0.25rem;
  align-items: center;
}

.preview-image {
  background: none;
  border: none;
  cursor: pointer;
}

/* Selection Homepage */
.selection-homepage {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.no-resume-text {
  text-align: center;
  margin-top: 1rem;
  padding: 3rem 0;
}

/* Selection Homepage */
.selection-homepage {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.no-resume-text {
  text-align: center;
  margin-top: 1rem;
  padding: 3rem 0;
}

/* Resume Choice */
.resume-choice-container {
  flex: 1;
  width: 100%;
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.choice {
  width: clamp(15rem, 25vw, 350px);
  height: clamp(15rem, 25vw, 350px);
  border: 2px dashed #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.choice:hover {
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 0;
}

.choice:hover * {
  color: grey;
}

.choice img {
  max-width: 30px;
  margin: 0;
}

.choice p {
  margin: 0;
}

/* Resume Thumbnail*/
.resume-selection {
  display: flex;
  width: 100%;
  gap: 2rem;
}

.resume-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.resume-details {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.resume-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.resume-thumbnail-image {
  width: 100%;
  min-width: 100px;
  height: 200px;
  object-fit: contain;
  display: block;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 0.255px solid #ccc;
}

.resume-thumbnail-image:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.resume-name {
  border: none;
  outline: none;
  width: max-content;
  padding: 2px 6px;
  padding-right: 10px;
  margin: 0;
  border-radius: 5px;
  cursor: pointer;
}
.resume-edit-date {
  padding-left: 6px;
}

.resume-name:hover {
  border: 1px solid #ccc;
}

.resume-name:focus {
  border: 2px solid blue;
}

.delete-resume {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.delete-resume-image {
  max-width: 15px;
  margin: 0;
  background: none;
}

/* Main editing page styles */
.editing-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main {
  position: relative;
  display: flex;
  gap: 2rem;
}

.saving-icon {
  width: 20px;
  height: 20px;
}

.saving-icon.rotating {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navigation */

.nav-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.back-button {
  padding-left: 0;
}

.nav-button:hover {
  background-color: var(--hover-colour);
}

.nav-button img {
  width: 20px;
  height: 20px;
}

.mobile-nav img {
  width: 30px;
  height: 30px;
}

.nav,
.mobile-nav,
.main-nav,
.template-selection-nav {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.menu {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.menu:hover {
  color: grey;
  transform: translateY(-2px);
}

.menu-image {
  max-width: 30px;
  margin: 0;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  z-index: 1;
  height: 100%;
  background-color: #e5e7e5;
}

.sidebar-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.close-button {
  display: block;
  width: fit-content;
  margin-left: auto;
  transition: transform 0.3s ease;
}

.close-button:hover {
  transform: translateY(-2px);
}

.show-sidebar {
  width: 250px;
}

.sidebar-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.sidebar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  background-color: #ccc;
  width: 10rem;
}

.sidebar-button:hover {
  background-color: yellow;
  transform: translateY(-2px);
}

.sidebar-button img {
  max-width: 20px;
  margin: 0;
}

.left-nav,
.right-nav,
.saving-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.right-nav *{
  font-size: clamp(1rem, 2rem, 1.5vw)
}

.saving-container {
  gap: 0.25rem;
}

.edit-page-resume-name {
  padding-left: 6px;
  padding-right: 10px;
  font-size: clamp(1rem, 3vw, 20px);
  font-weight: bold;
  cursor: pointer;
}

.template-selection-dropdown {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.template-word {
  font-size: larger;
}

.template-dropdown {
  border: none;
  cursor: pointer;
  outline: none;
}

.entry-summary-container {
  margin: 0;
  padding: 0;
}

.entry-summary {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  border-radius: 3px;
}

.entry-summary:hover {
  color: rgb(95, 93, 93);
  background-color: #f1f1f1;
  transform: translateY(-2px);
}

.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

.item {
  padding: 1rem;
}

.add-container,
.save-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.save-container {
  gap: 1rem;
}

.add,
.save {
  width: fit-content;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 1rem 2rem;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.add:hover,
.save:hover {
  background-color: rgb(214, 211, 211);
  transform: translateY(-2px);
}

.add:active,
.save:active {
  background-color: rgb(214, 211, 211);
  transform: translateY(0px);
}

.experience-item,
.education-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}

.preview-resume-button-container {
  position: fixed;
  bottom: 50px;
  left: 20px;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.preview-resume-button {
  border: none;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.preview-resume-button-image {
  min-width: 10px;
  max-width: 30px;
  margin: 0 auto;
}

.preview-resume-button:hover {
  transform: translateY(-3px);
  box-shadow: 0;
}

/* Drag and drop effect*/
.placeholder {
  border: 1px solid #0fd812;
  border-radius: 3px;
}

.entry-summary:active {
  cursor: grabbing;
}

.dragging {
  opacity: 0.25;
}

.entry-summary-container:has(.dragging) .entry-summary:not(.dragging):hover {
  transform: none;
  color: inherit;
  background-color: inherit;
}

.drag-resume-image {
  max-width: 20px;
}

/* Landing Page*/
.main-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.logo {
  font-family: "Lemonada", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: x-large;
}

section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero p{
  font-size: clamp(1.5rem, 2rem, (2vw + 2px));
}

.hero-title {
  margin:0;
  font-size: calc(9vw + 5px);
}
.section-title{
  margin:0;
  font-size: calc(5vw + 5px);
}

.features-section p, .about p{
  font-size: clamp(1rem, 2rem, (2vw + 2px));
  line-height: 1.5;
}

.cta-button{
  background-color: rgb(0, 113, 227);
  color: white;;
  max-width: fit-content;
  border: none;
  padding: 1rem 2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  font-size: medium;
}


.cta-button:hover {
  transform: translateY(-2px);
  background-color: rgb(0, 119, 237);
}

.cta-button:active {
  transform: translateY(0px);
}

.features {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
}

.feature {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  font-size: clamp(1rem,2rem,calc(2vw + 3px));
}

.lottie {
  width: 100%;
  max-width: 50px;
  min-width: 30px;
  height: auto;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
}

.footer-links {
  display: flex;
  gap: 1rem;
}

.cta-container{
  display: flex;
  justify-content: center;
}

.footer-links a {
  text-decoration: none;

  color: black;
}

.footer-links a:hover {
  color: grey;
  cursor: pointer;
}

@media (max-width: 500px) {
  .preview-template {
    width: 60vw;
    height: 80vw;
  }
}

@media (max-width: 768px) {
  .template-selection {
    flex-wrap: wrap;
    justify-content: center;
  }
  .template-image {
    max-width: 150px;
    margin: 0;
  }

  .template-container {
    display: none;
  }

  .preview-resume-button-container {
    display: flex;
  }

  .form-container {
    flex: 1;
  }
}

@media (max-width: 530px) {
  .form-field > input {
    min-width: 8rem;
  }
  .template-selection-dropdown {
    flex-direction: column;
  }
  select {
    width: 8rem;
    height: 2rem;
    border-radius: 3px;
    font-size: medium;
  }
}

@media (max-width: 420px) {
  .tab-nav {
    flex-direction: column;
  }

  .form-field > input {
    min-width: 6rem;
  }

  .item {
    font-size: larger;
  }
}