.app-container {
  display: flex;
  gap: 2rem;
  max-width: 1450px;
  margin: 2rem auto;
}

.form-container {
  flex: 0.5;
  border: 1px solid #ccc;
}

.template-container {
  flex: 0.5;
  border: 1px solid #ccc;
  padding: 2rem;
}

.template-container:hover {
  cursor: zoom-in;
}

.expanded-template {
  z-index: 1000;
  width: 90vw;
  height: 90vh;
  border: none;
  background: white;
  padding: 1rem;
  overflow-y: auto;
  margin: 0 auto;
}

.expanded-template::backdrop {
  background: rgba(165, 43, 43, 0.5);
}

.tab-nav {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.tab-btn {
  flex: 1;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  transition: font-size 0.3s, background-color 0.3s, color 0.3s;
}

.tab-btn.active {
  background-color: #cb1717;
  color: white;
  font-size: larger;
}

.resume-form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* styles for the forms */
.form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-label {
  font-weight: bold;
  margin-bottom: 1rem;
}
/* styles for the experience form */
.no-value-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.no-value-text {
  text-align: center;
  margin-top: 1rem;
  padding: 0 1rem;
}

/* Template Selection*/
.template-selection-container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.template-selection {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.template-image {
  width: 100%;
  max-width: 250px;
  min-width: 100px;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .template-selection {
    flex-wrap: wrap;
    justify-content: center;
  }
  .template-image {
    max-width: 150px;
    margin: 0;
  }
}