.app-container {
  display: flex;
  gap: 2rem;
}

.form-container {
  flex: 0.5;
  border: 1px solid #ccc;
}

.template-container {
  flex: 0.5;
  border: 1px solid #ccc;
  padding: 2rem;
}

.tab-nav {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.tab-btn {
  flex: 1;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  transition: font-size 0.3s, background-color 0.3s, color 0.3s;
}

.tab-btn.active {
  background-color: #cb1717;
  color: white;
  font-size: larger;
}