* {
  box-sizing: border-box;
}

p{
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  gap: 2rem;
  max-width: 1450px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
}

.form-container {
  flex: 0.5;
  border: 1px solid #ccc;
}

.template-container {
  flex: 0.5;
  border: 1px solid #ccc;
}

.template-container > * {
  padding: 2rem;
}

.template-container:hover {
  cursor: zoom-in;
}

.expanded-template {
  z-index: 1000;
  width: 90vw;
  height: 90vh;
  border: none;
  background: white;
  padding: 1rem;
  overflow-y: auto;
  margin: 0 auto;
}

.expanded-template::backdrop {
  background: rgba(165, 43, 43, 0.5);
}

.tab-nav {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.tab-btn {
  flex: 1;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  transition: font-size 0.3s, background-color 0.3s, color 0.3s;
}

.tab-btn.active {
  background-color: #cb1717;
  color: white;
  font-size: larger;
}

.resume-form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* styles for the forms */
.form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-label {
  font-weight: bold;
  margin-bottom: 1rem;
}
/* styles for the experience form */
.no-value-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.no-value-text {
  text-align: center;
  margin-top: 1rem;
  padding: 0 1rem;
}

/* Template Selection*/
.template-selection-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.template-selection {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.template-image-container{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.template-image {
  width: 100%;
  max-width: 250px;
  min-width: 100px;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.template-image:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.template-image:hover {
  cursor: pointer;
}

.template-image-details {
  display: flex;
  justify-content: space-between;
  padding: 0 0.25rem;
  align-items: center;
}

.preview-image {
  background: none;
  border: none;
  cursor: pointer;
}

/* Selection Homepage */
.selection-homepage {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* Resume render */
.resume-container {
}

.no-resume-text {
  text-align: center;
  margin-top: 1rem;
  padding: 3rem 0;
}

/* Selection Homepage */
.selection-homepage {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.no-resume-text {
  text-align: center;
  margin-top: 1rem;
  padding: 3rem 0;
}

/* Resume Choice */
.resume-choice-container {
  width: 100%;
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.choice {
  width: clamp(15rem, 25vw, 350px);
  height: clamp(15rem, 25vw, 350px);
  border: 2px dashed #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.choice:hover {
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 0;
}

.choice:hover * {
  color: grey;
}

.choice img {
  max-width: 30px;
  margin: 0;
}

.choice p {
  margin: 0;
}

@media (max-width: 768px) {
  .template-selection {
    flex-wrap: wrap;
    justify-content: center;
  }
  .template-image {
    max-width: 150px;
    margin: 0;
  }
  .resume-choice-container {
    flex-direction: column;
    justify-content: center;
  }
}

/* Resume Thumbnail*/
.resume-selection {
  display: flex;
  width: 100%;
  gap: 2rem;
}

.resume-card{
  display: flex;
  flex-direction: column;
  gap: 0.5rem
}

.resume-details{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.resume-info{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.resume-thumbnail-image {
  width: 100%;
  min-width: 100px;
  height: 200px;
  object-fit: contain;
  display: block;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 0.255px solid #ccc;
}

.resume-thumbnail-image:hover {
  transform: translateY(-3px);
  box-shadow: 0;
  cursor: pointer;
}

.resume-name {
  border: none;
  outline: none;
  width: max-content;
  padding: 2px 6px;
  padding-right: 10px;
  margin: 0;
  border-radius: 5px;
}
.resume-edit-date{
  padding-left: 6px;
}

.resume-name:hover {
  border: 1px solid #ccc;
  cursor: pointer;
}

.resume-name:focus {
  border: 2px solid blue;
}

.delete-resume{
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.delete-resume-image{
  max-width: 20px;
  margin: 0;
  background: none;
}

/* Main editing page styles */
.editing-page{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main{
  display: flex;
  gap: 2rem;
}

.saving-icon {
  width: 20px;
  height: 20px;
}

.saving-icon.rotating {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}